<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Inventory Application</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Index page</h1>
        <h2>Genres: <a href="/genres">Here</a></h2>
        <h2>Movies: <a href="/movies">Here</a></h2>
    </body>
</html>